<body class="myContainerMain">
    <div class="container">
        <div>
              <h1>{{ title }}</h1>
            <br>
            ご質問、ご意見はこちらでご自由にどうぞ。わたしでお答えできることはお答えしますし、分からない・答えられない事などはそのように返答いたします。
            パキシルなどSSRIの離脱で苦労なさっている方もいますが、わたしはベンゾジアゼピンのことしかわかりません。
            <p>【以下の利用規約を必ずお読みください】</p>
            <mat-list role="list">
              <li>
                完全匿名性とします。そして同一のニックネームをお使いください。
              </li>
              <li>
                宣伝、勧誘、商用サイトへのリンク、また<span style="color:crimson">反精神医療・薬物療法否定・アンチドクターを訴える投稿は削除</span>いたします。
              </li>
              <li>
                ここで投稿された情報の利用に関し当サイトは一切の責任を放棄します。<span style="color:crimson">必ず自己責任で判断してください</span>。
              </li>
              <li>
                薬機法違反になるため<span style="text-decoration: underline; color: red;">個人的な再服薬相談・減薬相談にはお答えできません</span>。
                また各自の症状や服薬歴などに対して推測や助言もできませんしわかりません。<span style="color:crimson">わたしの回答はあくまでベンゾに関する一般論での回答となります。</span>
                ご自分にあてはまるかどうか、かならず自己責任のもとご判断ください。
              </li>
              <li>減薬は必ず主治医の了解をとってから行ってください。
              </li>      
            </mat-list>
            <br>
            <div class="center">
            <button mat-flat-button aria-label="同意する" color="primary" name="agree" (click)="goFaqforum()">同意する</button>
            </div>
        </div>
    </div>
</body>
